<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Information,Error">
        <listeners>
          <add name="stringListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="stringListener"
           type="WindowsFormsApp1.StringTraceListener,WindowsFormsApp1"/>
    </sharedListeners>
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging
           maxMessagesToLog="1000"
           logMalformedMessages="true"
       />
    </diagnostics>
  </system.serviceModel>
</configuration>